body {
    font-family: Calibri;
}
.navbar {
    background-color: lightgrey;
    border: 1px solid #000;
    border-radius: 0;
}
.menu-content {
    margin-bottom: 1rem;
}
.menu-content p {
    padding: 2rem;
    background-color: lightgrey;
}
.item-title {
    font-weight: bold;
    background-color: lightgrey;
    margin-bottom: 0;
}