<!doctype html>
<html lang="en" ng-app="LunchCheck">
    <head>
        <title>Lunch Checker</title>
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link href="styles/bootstrap.min.css" rel="stylesheet">
        <style>
            .message {
                font-size: 1.3em;
                font-weight: bold;
            }
            .greenBorder {
                border: 1px solid lightgreen;
            }
            .redBorder {
                border: 1px solid red;
            }
            .greenText {
                color: lightgreen;
            }
            .redText {
                color: red;
            }
        </style>
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <div class="container" ng-controller="LunchCheckController">
            <h1>Lunch Checker</h1>

            <div class="form-group">
                <input class="form-control {{inputBorder}}" id="lunch-menu"
                       placeholder="list comma separated dishes you usually have for lunch"
                       type="text" ng-model="lunchInput">
            </div>
            <div class="form-group">
                <button class="btn btn-default" ng-click="calculateNum()">Check If Too Much</button>
            </div>
            <div class="form-group {{messageColor}}">
                {{message}}
            </div>
        </div>

    </body>
</html>
